.advices {
  &__title {
    @include main-text(18px, 26px, bold);
    text-transform: uppercase;
  }

  &__description {
    @include main-text(14px, 21px, normal);
    color: #333333;
    text-transform: uppercase;
  }

  &__wrapper {
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 11px;
  }
}

.advices__wrapper ul {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet) {
  .advices__list {
    display: grid;
    grid-template-columns: 33.33% 33.34% 33.33%;
    margin: auto;
  }

  .advices__item--apartment {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .advices__item--gifts {
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .advices__item--meal {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .advices__wrapper {
    margin: auto;
    padding: 60px 0;
  }

  .advices__item {
    padding-left: 30px;
    padding-right: 30px;
  }

  .advices__title {
    @include main-text(21px, 26px, bold);
    text-align: center;
  }

  .advices__description {
    text-align: center;
  }
}

@media (min-width: $desktop) {
  .advices__wrapper {
    margin: auto;
    padding: 60px 20px 80px 20px;
  }

  .advices__item {
    padding: 0 50px;
  }
}
