@mixin main-text-a(
  $font-size: $font-size,
  $line-height: $line-height,
  $text-transform: $text-transform,
  $font-weight: $font-weight
) {
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
  font-weight: bold;
}

.advices {
  &__title {
    @include main-text-a(18px, 26px);
  }

  &__description {
    @include main-text-a(14px, 21px);
    color: #333333;
  }
}
