.button {
  display: block;
  border: none;
  text-decoration: none;
  padding: 15px 30px 17px 30px;
  height: 58px;
  background-color: $base-block-color;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;

  &:link {
    background-color: $a-link;
    color: #ffffff;
  }

  &:visited {
    background-color: $a-link;
    color: #ffffff;
  }

  &:hover {
    background-color: $a-hover;
    color: #ffffff;
  }

  &:active {
    background-color: $a-active;
    color: rgba(#ffffff, 0.3);
  }
}
