.button {
  display: block;
  border: none;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 17px;
  height: 58px;
  background-color: $base-block-color;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
