.catalog-v {
  padding-bottom: 110px;

  &__title {
    @include main-text(18px, 26px, bold);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 14px;
  }

  &__description {
    @include main-text(14px, 24px, normal);
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }

  &__slogan {
    padding: 18px 27px 33px 27px;
  }

  &__img {
    min-height: 201px;
    background: #ffffff url("../img/videomobile.jpg") no-repeat center/cover;
    position: relative;
  }

  &__play {
    position: relative;
    bottom: -201px;
    display: flex;
    align-items: center;
    margin: 0 20px;
    height: 66px;
    background: #f2f2f2;
    padding: 22px 22px 20px 25px;
  }

  &__scale {
    background: rgba(#000000, 0.6);
    position: absolute;
    flex-grow: 1;
    left: 0;
    right: 0;
    bottom: 100%;
    padding: 22px;
    height: 45px;
  }

  &__icon-box {
    display: flex;
    flex-shrink: 0;
  }

  &__icon-box:first-child {
    flex-grow: 2;
  }

  &__icon-box:last-child {
    margin-left: 31px;
  }

  &__icon {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:active {
      fill: rgba(#333333, 0.3);
    }
  }

  &__line {
    height: 3px;
    background-color: rgba(#ffffff, 0.2);
    position: relative;
  }

  &__ball {
    width: 9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 50%;
    margin-top: -4.5px;
  }

  &__wrapper {
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {
  .catalog-v__title {
    @include main-text(30px, 26px, bold);
    padding-bottom: 8px;
  }

  .catalog-v__slogan {
    padding: 32px 100px 80px 100px;
  }

  .catalog-v__img {
    min-height: 500px;
    background: #ffffff url("../img/videotablet.jpg") no-repeat center/cover;
  }

  .catalog-v__play {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#666666, 0.6);
    margin: 0;
    padding: 36px 41px 35px 35px;
    height: 93px;
  }

  .catalog-v__scale {
    position: static;
    background: rgba(#666666, 0);
    width: 100%;
    margin: 0 20px;
  }

  .catalog-v__icon {
    fill: #ffffff;
  }

  .catalog-v__icon:hover {
    fill: rgba(#ffffff, 0.6);
  }

  .catalog-v__icon:active {
    fill: rgba(#ffffff, 0.3);
  }

  .catalog-v__ball {
    left: 29%;
  }

  .catalog-v__wrapper {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0;
  }

  .catalog-v {
    padding-bottom: 42px;
  }
}

@media (min-width: $desktop) {
  .catalog-v__wrapper {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
  }

  .catalog-v__slogan {
    padding: 36px 175px 78px 175px;
  }

  .catalog-v__img {
    background: #ffffff url("../img/videodesktop.jpg") no-repeat center/cover;
  }

  .catalog-v {
    padding-bottom: 40px;
  }

  .catalog-v__ball {
    left: 20%;
  }
}
