.catalog-v {
  padding-bottom: 110px;

  &__title {
    @include main-text(18px, 26px, bold);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 14px;
  }

  &__description {
    @include main-text(14px, 24px, normal);
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
  }

  &__slogan {
    padding: 18px 27px 33px 27px;
  }

  &__img {
    min-height: 201px;
    background: #ffffff url("../img/videomobile.jpg") no-repeat center/cover;
    position: relative;
  }

  &__play {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 45px;
    background: rgba(#000000, 0.6);
    padding: 22px 22px 20px 22px;
  }

  &__replay-box,
  &__subtitles-box,
  &__fullscreen-box {
    background-color: #f2f2f2;
    height: 66px;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
    position: absolute;
    bottom: -66px;
  }

  &__replay-box {
    left: 0;
    padding-left: 25px;
    width: 57%;
    text-align: left;
  }

  &__fullscreen-box {
    right: 0;
    width: 23%;
  }

  &__subtitles-box {
    right: 23%;
    width: 20%;
  }

  &__replay,
  &__subtitles,
  &__fullscreen {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:active {
      fill: rgba(#333333, 0.3);
    }
  }

  &__line {
    height: 3px;
    background-color: rgba(#ffffff, 0.2);
    position: relative;
  }

  &__ball {
    width: 9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 50%;
    margin-top: -4.5px;
  }

  &__wrapper {
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {
  .catalog-v__title {
    @include main-text(30px, 26px, bold);
    padding-bottom: 8px;
  }

  .catalog-v__slogan {
    padding: 32px 100px 80px 100px;
  }

  .catalog-v__img {
    min-height: 500px;
    background: #ffffff url("../img/videotablet.jpg") no-repeat center/cover;
  }

  .catalog-v__replay,
  .catalog-v__subtitles,
  .catalog-v__fullscreen {
    fill: #ffffff;
  }

  .catalog-v__replay:hover,
  .catalog-v__subtitles:hover,
  .catalog-v__fullscreen:hover {
    fill: rgba(#ffffff, 0.6);
  }

  .catalog-v__replay:active,
  .catalog-v__subtitles:active,
  .catalog-v__fullscreen:active {
    fill: rgba(#ffffff, 0.3);
  }

  .catalog-v__play {
    left: 0;
    right: 0;
    height: 93px;
    padding-top: 45px;
    background: rgba(#666666, 0.6);
  }

  .catalog-v__line {
    width: 65%;
    left: 12%;
  }

  .catalog-v__ball {
    left: 28%;
  }

  .catalog-v__replay-box,
  .catalog-v__subtitles-box,
  .catalog-v__fullscreen-box {
    background: rgba(#666666, 0);
    height: 93px;
    padding-top: 35px;
    padding-bottom: 35px;
    position: absolute;
    bottom: 0;
    width: 10%;
  }

  .catalog-v__replay-box {
    left: 0;
    padding-left: 35px;
  }

  .catalog-v__fullscreen-box {
    padding-right: 41px;
  }

  .catalog-v__subtitles-box {
    right: 10%;
    padding-right: 25px;
  }

  .catalog-v__wrapper {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0;
  }

  .catalog-v {
    padding-bottom: 42px;
  }
}

@media (min-width: $desktop) {
  .catalog-v__wrapper {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
  }

  .catalog-v__slogan {
    padding: 36px 175px 78px 175px;
  }

  .catalog-v__img {
    background: #ffffff url("../img/videodesktop.jpg") no-repeat center/cover;
  }

  .catalog-v {
    padding-bottom: 40px;
  }

  .catalog-v__line {
    width: 70%;
    left: 10%;
  }

  .catalog-v__ball {
    left: 20%;
  }

  .catalog-v__fullscreen-box {
    padding-right: 41px;
    width: 8%;
  }

  .catalog-v__subtitles-box {
    width: 8%;
    right: 8%;
    padding-right: 26px;
  }
}
