.comment {
  &__answer {
    @include main-text(18px, 26px, bold);
    flex-shrink: 0;
  }

  &__radio,
  &__checkbox {
    background-color: $form-color;
    border: 5px solid $form-color;
    cursor: pointer;
  }

  &__radio:hover,
  &__checkbox:hover {
    background-color: $form-hover;
    border: 5px solid $form-hover;
  }

  &__radio:active,
  &__checkbox:active {
    background-color: $form-down;
    border: 5px solid $form-down;
  }

  &__choice:checked ~ &__radio {
    border-radius: 50%;
    background-color: #333333;
    border: 15px solid $form-color;
  }

  &__choice:checked ~ &__radio:hover {
    border-radius: 50%;
    background-color: #333333;
    border: 15px solid $form-hover;
  }

  &__choice:checked ~ &__radio:active {
    border-radius: 50%;
    background-color: #333333;
    border: 15px solid $form-down;
  }

  &__choice:disabled ~ &__radio {
    background-color: rgba(#333333, 0.3);
    border: 15px solid $form-down;
    pointer-events: none;
  }

  &__checkbox {
    display: flex;
    width: 55px;
    height: 55px;
    justify-content: center;
    align-items: center;
    margin-right: 25px;

    &::after {
      content: "";
      background-image: url("../img/tick.svg");
      background-repeat: no-repeat;
      background-position: center center;
      width: 24px;
      height: 17px;
      opacity: 0;
    }
  }

  &__c-choice:checked ~ &__checkbox::after {
    opacity: 1;
  }

  &__c-choice:disabled ~ &__checkbox::after {
    opacity: 0.3;
  }

  &__c-choice:disabled ~ &__checkbox {
    pointer-events: none;
  }

  &__radio {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 24px;
  }

  &__question {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
  }

  &__point {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
}

.comment__question:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet) {
  .comment__box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 55px;
  }

  .comment__question {
    margin: auto;
    padding: 0;
    padding-bottom: 32px;
    width: 220px;
  }

  .comment__point {
    margin-bottom: 23px;
  }

  .comment__radio {
    margin-right: 20px;
  }
}

@media (min-width: $desktop) {
  .comment__box {
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }

  .comment__question {
    width: 25%;
  }

  .comment__question:nth-child(2) {
    padding-left: 20px;
  }

  .comment__question:nth-child(3),
  .comment__question:nth-child(4) {
    padding-left: 35px;
  }

  .comment__block {
    padding-left: 5px;
  }
}
