.comment {
  &__answer {
    @include main-text(18px, 26px, bold);
    flex-shrink: 0;
  }

  &__radio,
  &__checkbox {
    background-color: $form-color;
    border: 5px solid $form-color;
  }

  &__radio:hover,
  &__checkbox:hover {
    background-color: $form-hover;
    border: 5px solid $form-hover;
  }

  &__radio:active,
  &__checkbox:active {
    background-color: $form-down;
    border: 5px solid $form-down;
  }

  &__radio:checked {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #333333;
    border: 15px solid $form-color;
  }

  &__checkbox:checked {
    background: $form-color url("../img/tick.jpg") no-repeat center center;
  }

  &__checkbox {
    display: block;
    width: 55px;
    height: 55px;
    margin-right: 25px;
  }

  &__radio {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 24px;
  }

  &__question {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
  }

  &__point {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
}

.comment__question:last-child {
  margin-bottom: 0;
}

@media (min-width: $tablet) {
  .comment__box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 80px;
    padding-right: 55px;
  }

  .comment__question {
    margin: auto;
    padding: 0;
    padding-bottom: 32px;
    width: 220px;
  }

  .comment__point {
    margin-bottom: 23px;
  }

  .comment__radio {
    margin-right: 20px;
  }
}

@media (min-width: $desktop) {
  .comment__box {
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
  }

  .comment__block {
    padding-left: 5px;
  }
}
