.feature {
  &__items {
    background-color: $base-block-color;
  }

  &__point,
  &__description {
    color: #ffffff;
    text-transform: uppercase;
  }

  &__point {
    text-transform: uppercase;

    @include main-text(18px, 26px, bold);
  }

  &__description {
    @include main-text(14px, 21px, normal);
  }

  &__block1 {
    padding: 34px 12px 39px 12px;
    text-align: center;
  }

  &__block2 {
    background-color: #ffffff;
  }

  &__wrapper,
  &__wrapper-priority {
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {
  .feature__items {
    display: grid;
    grid-template-columns: 33.33% 66.67%;
    margin: auto;
  }

  .feature__items--order {
    display: grid;
    grid-template-columns: 66.67% 33.33%;
  }

  .feature__block1--text {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  .feature__block2--img {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .feature__point {
    @include main-text(21px, 26px, bold);
  }

  .feature__block1 {
    padding: 40px 32px 44px 32px;
    text-align: center;
  }
}

@media (min-width: $desktop) {
  .feature__block1 {
    padding: 47px 52px 57px 53px;
    text-align: center;
  }
}
