.feature-lasts,
.feature-lasts__list,
.feature-lasts__items {
  background-color: #eeeeee;
}

.feature-lasts__point,
.title-text-style {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.feature-lasts__description,
.description-text-style {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  color: #333333;
}
