.feature {
  height: 451px;

  &__items {
    background-color: $base-block-color;
  }

  &__point,
  &__description {
    color: #ffffff;
    text-transform: uppercase;
  }

  &__point {
    text-transform: uppercase;

    @include main-text(18px, 26px, bold);
  }

  &__description {
    @include main-text(14px, 21px, normal);
  }

  &__wrapper,
  &__wrapper-priority {
    display: flex;
    justify-content: space-between;
    min-width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {
  .feature {
    min-height: 256px;
  }

  .feature__wrapper-priority {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 768px;
    margin: auto;
  }
}
