.feature-lasts {
  background-color: #eeeeee;
}

.feature-lasts__point {
  @include main-text(18px, 26px, bold);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 11px;
}

.feature-lasts__description,
.feature-lasts__number {
  @include main-text(14px, 21px, normal);
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.feature-lasts__number {
  margin-bottom: 16px;
}

.feature-lasts__item {
  padding-top: 26px;
  padding-bottom: 26px;

  &:last-child {
    padding-bottom: 24px;
  }
}

.feature-lasts__wrapper {
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: $mobile-width-only) {
  .feature-lasts__item {
    position: relative;
  }

  .feature-lasts__item:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -12px;
    right: -12px;
    height: 1px;
    background-color: #d6d6d6;
  }

  .feature-lasts__br-not-mobile {
    display: none;
  }
}

@media (min-width: $tablet) {
  .feature-lasts__items {
    display: flex;
    flex-direction: row;
    margin-top: 42px;
    margin-bottom: 17px;
  }

  .feature-lasts__point {
    @include main-text(21px, 26px, bold);

    margin-bottom: 13px;
  }

  .feature-lasts__number {
    margin-bottom: 23px;
  }

  .feature-lasts__item {
    margin: 0;
    padding: 0;
  }

  .feature-lasts__item:nth-child(1) {
    margin-right: 72px;
    width: 40%;
  }

  .feature-lasts__item:nth-child(2) {
    margin-right: 89px;
    width: 26%;
  }


  .feature-lasts__item:nth-child(3) {
    margin-right: 0;
    width: 32%;
  }

  .feature-lasts__wrapper {
    padding-left: 16px;
    padding-right: 40px;
  }
}

@media (min-width: $desktop) {
  .feature-lasts__item:nth-child(1) {
    margin: 0;
    padding: 0;
    margin-right: 106px;
    width: 315px;
  }

  .feature-lasts__item:nth-child(2) {
    margin: 0;
    padding: 0;
    margin-right: 120px;
    width: 272px;
  }

  .feature-lasts__item:nth-child(3) {
    margin: 0;
    padding: 0;
    width: 290px;
  }

  .feature-lasts__items {
    margin-bottom: 62px;
  }


  .feature-lasts__wrapper {
    padding-left: 42px;
    padding-right: 55px;
  }
}
