.feature {
  &__items {
    background-color: $base-block-color;
  }

  &__point,
  &__description {
    color: #ffffff;
    text-transform: uppercase;
  }

  &__point {
    text-transform: uppercase;

    @include main-text(18px, 26px, bold);
  }

  &__description {
    @include main-text(14px, 21px, normal);
  }

  &__block1 {
    padding: 39px 15px;
    text-align: center;
  }

  &__wrapper,
  &__wrapper-priority {
    margin: 0 auto;
  }
}

@media (min-width: $tablet) {
  .feature__items {
    display: flex;
    flex-direction: row;
  }

  .feature__point {
    @include main-text(21px, 26px, bold);
  }

  .feature__block1 {
    padding: 40px 32px 44px 32px;
    text-align: center;
  }

  .feature__wrapper-priority {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
  }
}

@media (min-width: $desktop) {
  .feature__block1 {
    padding: 47px 52px 57px 53px;
    text-align: center;
  }
}
