.hotels {
  &__title {
    @include main-text(21px, 26px, bold);
    text-transform: uppercase;
    text-align: center;
  }

  &__action {
    @include main-text(14px, 24px, normal);
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 27px;
  }

  &__button-box {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
  }

  &__button {
    width: 280px;
  }

  &__click {
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 55px;
  }

  &__wrapper {
    margin: 0 auto;
    padding: 0 20px 80px 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .hotels__br-not-mobile {
    display: none;
  }
}

@media (min-width: $tablet) {
  .hotels__title {
    @include main-text(30px, 26px, bold);
    margin-bottom: 33px;
  }

  .hotels__button {
    width: 458px;
  }

  .hotels__click {
    margin: 0 auto;
    margin-top: 58px;
    margin-bottom: 73px;
  }

  .hotels__action {
    margin-bottom: 40px;
  }

  .hotels__wrapper {
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
  }
}

@media (min-width: $desktop) {
  .hotels__wrapper {
    padding-left: 270px;
    padding-right: 270px;
  }

  .hotels__action {
    margin-bottom: 42px;
  }

  .hotels__click {
    margin-bottom: 85px;
  }
}
