.hotels {
  &__title,
  &__btn {
    @include main-text(21px, 26px, bold);
    text-transform: uppercase;
  }

  &__action {
    @include main-text(14px, 24px, normal);
    color: #333333;
    text-transform: uppercase;
  }

  &__btn {
    color: #ffffff;
    background-color: $base-block-color;

    @include link;
  }

  &__btn:active {
    opacity: 0.3;
  }

  &__wrapper {
    margin: 0 auto;
  }
}
