.intro-form__view {
  background: #ffffff url("../img/backmobileForm.jpg") no-repeat center/cover;
  min-height: 158px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background: #ffffff url("../img/backmobileForm2x.jpg") no-repeat center/cover;
  }
}

.intro-form__text-index {
  width: 229px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 53px;
  transform: translateX(-50%);
}

.intro-form__text-index-img {
  width: 229px;
  height: 39px;
}

.intro-form__dec-triangle {
  background: url("../img/introtriangledesktop.svg") no-repeat center center;
  position: absolute;
  height: 57px;
  bottom: 0;
  left: 0;
  right: 0;
}

.intro-form__welcome {
  padding: 37px 6px 18px 8px;
}

.intro-form__offer {
  @include main-text(18px, 26px, bold);
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 28px;
  text-align: center;
}

.intro-form__text {
  @include main-text(14px, 24px, normal);
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto;
  text-align: center;
}

.intro-form__wrapper {
  margin: 0 auto;
  position: relative;
}

@media (max-width: $mobile-width-only) {
  .intro-form__wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet) {
  .intro-form__offer {
    @include main-text(30px, 26px, bold);

    margin-bottom: 34px;
  }

  .intro-form__view {
    background: #ffffff url("../img/backtabletForm.jpg") no-repeat center/cover;
    min-height: 290px;
    padding-top: 95px;

    @media (min-resolution: 2dppx) {
      background: #ffffff url("../img/backtabletForm2x.jpg") no-repeat center/cover;
    }
  }

  .intro-form__text-index {
    width: 457px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 95px;
    transform: translateX(-50%);
  }

  .intro-form__text-index-img {
    width: 457px;
    height: 78px;
  }

  .intro-form__welcome {
    padding: 62px 166px 86px 166px;
  }
}

@media (min-width: $desktop) {
  .intro-form__view {
    background: #ffffff url("../img/backdesktopform.jpg") no-repeat center/cover;
    min-height: 300px;

    @media (min-resolution: 2dppx) {
      background: #ffffff url("../img/backdesktopForm2x.jpg") no-repeat center/cover;
    }
  }

  .intro-form__text-index {
    top: 101px;
  }

  .intro-form__welcome {
    padding: 113px 380px 57px 380px;
  }
}
