.intro {
  &__slogan {
    @include main-text(18px, 26px, bold);
    text-transform: uppercase;
    margin: 0 auto;
  }

  &__text {
    @include main-text(14px, 26px, normal);
    color: #333333;
    text-transform: uppercase;
    margin: 0 auto;
  }

  &__wrapper {
    margin: 0 auto;
  }

  &__triangle-vector {
    height: 57px;
  }

  &__white-vector {
    height: 37px;
  }
}

@media (min-width: $tablet) {
  .intro__wrapper {
    max-width: $tablet;
  }

  .intro__tagline {
    max-width: 461px;
  }

  .intro__white-vector {
    display: none;
  }
}

@media (min-width: $desktop) {
  .intro__wrapper {
    max-width: $desktop;
  }

  .intro__tagline {
    max-width: 459.5px;
  }
}
