.intro-c {
  &__title {
    @include main-text(18px, 26px, bold);
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 14px;
  }

  &__description {
    @include main-text(14px, 24px, normal);
    text-transform: uppercase;
    color: #333333;
    text-align: center;
  }

  &__view {
    background: #ffffff url("../img/backmobileForm.jpg") no-repeat center/cover;
    min-height: 158px;
    margin: 0 auto;
    position: relative;

    @media (min-resolution: 2dppx) {
      background: #ffffff url("../img/backmobileForm2x.jpg") no-repeat center/cover;
    }
  }

  &__text-index {
    width: 229px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 53px;
    transform: translateX(-50%);
  }

  &__text-index-img {
    width: 229px;
    height: 39px;
  }

  &__dec-triangle {
    background: url("../img/introtriangledesktop.svg") no-repeat center center;
    position: absolute;
    height: 57px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__text {
    padding: 18px 16px 18px 16px;
  }

  &__wrapper {
    margin: 0 auto;
    position: relative;
  }
}

@media (max-width: $mobile-width-only) {
  .intro-c__wrapper::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet) {
  .intro-c__title {
    @include main-text(30px, 26px, bold);
    padding-bottom: 8px;
  }

  .intro-c__view {
    background: #ffffff url("../img/backtabletForm.jpg") no-repeat center/cover;
    min-height: 290px;

    @media (min-resolution: 2dppx) {
      background: #ffffff url("../img/backtabletForm2x.jpg") no-repeat center/cover;
    }
  }

  .intro-c__text-index {
    width: 457px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 95px;
    transform: translateX(-50%);
  }

  .intro-c__text-index-img {
    width: 457px;
    height: 78px;
  }

  .intro-c__text {
    padding: 38px 165px 64px 165px;
  }
}

@media (min-width: $desktop) {
  .intro-c__view {
    background: #ffffff url("../img/backdesktopForm.jpg") no-repeat center/cover;
    min-height: 301px;

    @media (min-resolution: 2dppx) {
      background: #ffffff url("../img/backdesktopForm2x.jpg") no-repeat center/cover;
    }
  }

  .intro-c__text-index {
    top: 101px;
  }

  .intro-c__text {
    padding: 74px 381px 67px 381px;
  }
}
