.intro-form {
  &__offer {
    @include main-text(18px, 26px, bold);
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
  }

  &__text {
    @include main-text(14px, 24px, normal);
    text-transform: uppercase;
    color: #333333;
    margin: 0 auto;
    text-align: center;
  }

  &__wrapper {
    margin: 0 auto;
    padding-bottom: 60px;
  }
}
