.intro-form {
  &__offer {
    @include main-text(18px, 26px, bold);
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
  }

  &__text {
    @include main-text(14px, 24px, normal);
    text-transform: uppercase;
    color: #333333;
    margin: 0 auto;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
  }

  &__wrapper {
    margin: 0 auto;
    padding-bottom: 60px;
  }
}

@media (min-width: $tablet) {
  .intro-form__offer {
    @include main-text(30px, 26px, bold);
  }

  .intro-form__text {
    padding-left: 166px;
    padding-right: 168px;
  }
}

@media (min-width: $desktop) {
  .intro-form__text {
    padding-left: 382px;
    padding-right: 384px;
  }
}
