.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  background-color: #ffffff;
  box-shadow: 0 0 2px #333333;
  width: 320px;

  &--success {
    top: 50%;
  }

  &--fail {
    padding: 40px 40px 35px 40px;
  }
}

.modal__title {
  @include main-text(18px, 26px, bold);
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 26px;
}

.modal__answer {
  @include main-text(14px, 24px, normal);
  color: #333333;
  text-transform: uppercase;
}

.modal__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal__text {
  text-align: center;
}

.modal--fail .modal__text {
  padding-bottom: 12px;
}

.modal--success .modal__text {
  padding: 38px 38px 26px 38px;
}

.modal--success .modal__title {
  margin-bottom: 24px;
}

.modal--fail .modal__button {
  width: 180px;
}

.modal--success .modal__button {
  width: 280px;
}

.modal__button-box {
  width: 100%;
  padding: 20px;
  background-color: #f2f2f2;
}

.modal__button-link {
  font-size: 18px;
}

@media (min-width: $tablet) {
  .modal__title {
    @include main-text(30px, 40px, bold);
  }

  .modal__link {
    @include main-text(21px, 26px, bold);
  }

  .modal--success {
    width: 640px;

    .modal__text {
      padding: 50px 98px 28px 98px;
    }

    .modal__button {
      width: 458px;
    }
  }

  .modal__button-box {
    padding: 44px 91px;
  }

  .modal--fail {
    width: 400px;
    padding-top: 35px;
    padding-bottom: 30px;

    .modal__text {
      text-align: center;
      padding-bottom: 20px;
    }

    .modal__button {
      width: 280px;
      margin-bottom: 35px;
    }

    .modal__title {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
