.nav-burger {
  &__toggle {
    display: block;
    width: 23px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    border: none;
    z-index: 2;
    padding: 0;
    top: 242px;
    right: 20px;
    background-color: #ffffff;
  }

  &__toggle:hover &__toggle-pic {
    background-color: rgba($base-block-color, 0.6);
  }

  &__toggle:active &__toggle-pic {
    background-color: rgba($base-block-color, 0.3);
  }

  &__toggle-pic {
    display: block;
    height: 4px;
    width: 23px;
    background-color: $base-block-color;
    margin-bottom: 5px;
  }

  &__toggle-pic:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet) {
  .nav-burger {
    display: none;
  }
}
