.nav-burger__toggle {
  display: block;
  width: 23px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  border: none;
  z-index: 2;
  padding: 0;
  top: 242px;
  right: 20px;
  background-color: #ffffff;
}

.nav-burger__toggle:hover .nav-burger__toggle-pic {
  background-color: rgba($base-block-color, 0.6);
}

.nav-burger__toggle:active .nav-burger__toggle-pic {
  background-color: rgba($base-block-color, 0.3);
}

.nav-burger__toggle-pic {
  display: block;
  height: 4px;
  width: 23px;
  background-color: $base-block-color;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet) {
  .nav-burger {
    display: none;
  }
}
