.nav {
  position: relative;

  &__link {
    @include main-text(18px, 40px, bold);
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;

    @include link;
    display: block;
  }

  &__item {
    border-top: 2px solid #9ac2db;
    border-bottom: 2px solid #678fa8;
  }

  &__item:first-child {
    border-top: none;
  }

  &__item:last-child {
    border-bottom: none;
  }

  &__item:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }

  &__toggle-cross,
  &__toggle-burger {
    display: block;
    width: 23px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    border: none;
    z-index: 2;
  }

  .nav--closed .nav__toggle .nav__toggle-img {
    top: 240px;
    right: 20px;
    height: 4px;
    background-color: $base-block-color;
    width: 100%;
    margin-bottom: 4px;
  }

  .nav--opened .nav__toggle .nav__toggle-img {
    top: 17px;
    right: 20px;
    height: 4px;
    width: 100%;
    background-color: #ffffff;


  }


  &__toggle:hover {
    opacity: 0.6;
  }

  &__toggle:active {
    opacity: 0.3;
  }

  &__wrapper {
    margin: 0 auto;
  }
}


.nav--nojs .nav__toggle {
  display: none;
}

.nav--nojs .nav__wrapper {
  position: static;
  min-height: 0;
}

.nav--nojs .nav__item {
  display: block;
}


@media (max-width: $mobile-width-only) {}





@media (min-width: $tablet) {
  .nav__list {
    display: flex;
  }

  .nav__item {
    width: 25%;
    height: 56px;
    background-color: #ffffff;
    border: none;
  }

  .nav__item:nth-child(2) {
    margin-right: 20%;
  }

  .nav__link {
    @include main-text(14px, 26px, bold);
    color: #000000;
    padding-top: 16px;
    padding-bottom: 14px;

    @include link-full;
  }

  .nav__link.nav__link--active {
    color: #766357;
  }

  .nav__toggle {
    display: none;
  }

  .nav__item:last-child::after {
    display: none;
  }
}
