.page-footer {
  &__link-sedona {
    @include main-text(21px, 26px, bold);
    text-transform: uppercase;
    color: #000000;
  }

  &__link-html {
    @include main-text(14px, 26px, normal);
    text-transform: uppercase;
    color: #000000;
  }
}
