.page-header {
  display: flex;
  flex-direction: column;

  &__logo {
    min-height: 84px;
  }
}

@media (min-width: $desktop) {
  .page-header {
    max-height: 56px;
    max-width: $desktop;
  }

  .page-header__logo {
    max-height: 96.43px;
  }
}
