.page-header {
  display: flex;
  flex-direction: column;

  &__logo {
    width: 101.7px;
    height: 84px;
    display: block;
    margin: auto;
  }
}

@media (min-width: $tablet) {
  .page-header__logo {
    margin-top: -56px;
    z-index: 3;
  }
}

@media (min-width: $desktop) {
  .page-header__logo {
    width: 186.6px;
    height: 96.43px;
  }
}
