.page__body {
  background: #ffffff;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  max-width: $desktop;
  margin: 0 auto;
}

.page {
  background: #e7e5e5;
}

.test {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(-320px / 2);
  z-index: 8;
  opacity: 0.3;
}
