.page-footer,
.page-footer__contacts,
.page-footer__social {
  background-color: #ffffff;
}

.page-footer__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.page-footer__copyright,
.copyright__link {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
}
