.result {
  margin: 0 auto;

  &__title,
  &__new-step-yes,
  &__new-step-not {
    @include main-text(18px, 26px, bold);
    text-transform: uppercase;
    text-align: center;
  }

  &__answer {
    @include main-text(14px, 24px, normal);
    color: #333333;
    text-transform: uppercase;
    text-align: center;
  }

  &__new-step-yes,
  &__new-step-not {
    color: #ffffff;
    background-color: $base-block-color;
    display: block;
    border: none;
    text-decoration: none;
    padding-top: 18px;
    padding-bottom: 14px;
  }
}

@media (min-width: $tablet) {
  .result__title {
    @include main-text(30px, 26px, bold);
  }

  .result__new-step-yes {
    width: 458px;
    height: 58px;
  }

  .result__new-step-not {
    width: 272px;
    height: 58px;
  }
}
