.review__title {
  @include main-text(18px, 26px, bold);
  text-transform: uppercase;
  text-align: center;
}

.review__target,
.review__notice {
  @include main-text(14px, 26px, normal);
  color: #333333;
  text-transform: uppercase;
}

.review__cell,
.review__text {
  background-color: $form-color;
  border: none;
  box-shadow: none;

  @include main-text(18px, 26px, bold);
}

.review__cell::-webkit-input-placeholder,
.review__text::-webkit-input-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  opacity: 1;
}

.review__cell::-moz-placeholder,
.review__text::-moz-placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  opacity: 1;
}

.review__cell:hover,
.review__text:hover {
  background-color: $form-hover;
  outline: 4px solid $form-hover;
  outline-offset: -4px;
}

.review__cell:focus,
.review__text:focus {
  background-color: #ffffff;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}

.review__personal,
.review__contact,
.review__comment-all,
.review__comment-sights,
.review__emotion {
  border: 0;
  margin: 0;
  padding: 0;
}

.review__emotion .review__send {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 14px;
}

.review__notice {
  display: none;
}

.review__cell {
  height: 58px;
  width: 100%;
  padding: 14px 22px 10px 22px;
  min-width: 0;
}

.review__cell--img-phone {
  background: $form-color url("../img/photophone.jpg") no-repeat right center/58px 58px;
  padding-right: 58px;
}

.review__cell--img-mail {
  background: $form-color url("../img/photomail.jpg") no-repeat right center/58px 58px;
  padding-right: 58px;
}

.review__img-block {
  margin-top: 8px;
  margin-bottom: 9px;
}

.review__personal .review__title {
  padding-top: 20px;
  padding-bottom: 20px;
}

.review__personal {
  padding-bottom: 5px;
}

.review__personal-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.review__contact .review__title {
  padding-top: 20px;
  padding-bottom: 12px;
}

.review__contact {
  padding-bottom: 18px;
}

.review__contact .review__target {
  padding-left: 22px;
}

.review__comment-all .review__title {
  padding-top: 20px;
  padding-bottom: 22px;
}

.review__comment-all {
  padding-bottom: 12px;
}

.review__comment-sights .review__title {
  padding-top: 15px;
  padding-bottom: 20px;
}

.review__comment-sights {
  padding-bottom: 26px;
}

.review__emotion .review__title {
  padding-top: 20px;
  padding-bottom: 16px;
}

.review__emotion {
  padding-bottom: 43px;
}

.review__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.review__text {
  margin-bottom: 48px;
  padding: 11px 18px 16px 20px;
  width: 100%;
  resize: none;
}

.review__target {
  margin-right: 14px;
}

@media (max-width: $mobile-width-only) {
  .review__personal,
  .review__contact,
  .review__comment-all,
  .review__comment-sights {
    position: relative;
  }

  .review__personal::after,
  .review__contact::after,
  .review__comment-all::after,
  .review__comment-sights::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    right: -20px;
    height: 1px;
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet) {
  .review__personal-box:last-child {
    margin-bottom: 0;
  }

  .review__notice {
    display: block;
    padding-top: 5px;
  }

  .review__wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }

  .review__form {
    display: flex;
    flex-wrap: wrap;
  }

  .review__title {
    @include main-text(21px, 26px, bold);
  }

  .review__text {
    margin-top: 40px;
    margin-bottom: 54px;
    padding: 18px 21px 12px 21px;
  }

  .review__personal,
  .review__comment-all {
    width: 50%;
  }

  .review__contact,
  .review__comment-sights,
  .review__emotion {
    width: 100%;
  }

  .review__end {
    display: flex;
    justify-content: space-between;
  }

  .review__end .review__send {
    width: 324px;
    padding-left: 55px;
    padding-right: 55px;
  }

  .review__comment-all {
    order: 1;
    padding: 0;
  }

  .review__comment-all .review__title {
    text-align: start;
    padding-bottom: 57px;
    padding-top: 0;
  }

  .review__personal {
    border-left: 1px solid #dbdbdb;
    order: 2;
    padding: 0;
    padding-left: 58px;
  }

  .review__personal .review__title {
    text-align: start;
    padding-bottom: 54px;
    padding-top: 0;
  }

  .review__contact {
    order: 3;
    padding-top: 15px;
    border-top: 1px solid #dbdbdb;
    margin-top: 30px;
  }

  .review__contact .review__title {
    padding: 18px 50px 2px 50px;
    margin: 0 auto;
  }

  .review__comment-sights {
    order: 4;
    padding-top: 16px;
    border-top: 1px solid #dbdbdb;
  }

  .review__comment-sights .review__title {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }

  .review__emotion {
    order: 5;
    padding-top: 0;
    margin-bottom: 19px;
    border-top: 1px solid #dbdbdb;
  }

  .review__emotion .review__title {
    padding-top: 12px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
  }

  .review__img-block {
    margin-bottom: 18px;
  }
}

@media (min-width: $desktop) {
  .review__end .review__send {
    width: 480px;
    padding-left: 133px;
    padding-right: 132px;
  }

  .review__wrapper {
    padding-left: 120px;
    padding-right: 120px;
  }

  .review__contact-block {
    display: flex;
  }

  .review__contact-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
    flex-shrink: 0;
  }

  .review__contact-box .review__target {
    flex-shrink: 0;
  }

  .review__img-block {
    width: 100%;
    margin-bottom: 8px;
  }

  .review__img-block .review__cell {
    padding-left: 24px;
  }

  .review__contact-box:first-child {
    padding-right: 79px;
  }

  .review__target-desktop {
    display: none;
  }

  .review__comment-all .review__title {
    text-align: start;
    padding-bottom: 57px;
    padding-left: 80px;
  }

  .review__personal .review__title {
    padding-left: 2;
  }

  .review__personal .review__cell {
    padding-left: 20px;
  }

  .review__personal {
    padding-left: 80px;
  }

  .review__contact {
    padding-top: 48px;
  }

  .review__contact .review__title {
    padding-bottom: 14px;
  }

  .review__contact-block .review__target {
    padding-left: 0;
  }

  .review__comment-sights {
    padding-top: 26px;
    padding-bottom: 20px;
  }

  .review__comment-sights .review__title {
    padding-top: 26px;
    padding-bottom: 18px;
  }

  .review__emotion .review__text {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 12px;
    margin-top: 32px;
  }

  .review__emotion {
    margin-bottom: 25px;
  }

  .review__emotion .review__title {
    padding-top: 18px;
    padding-bottom: 20px;
  }
}
