$base-block-color: (#81b3d2);

.social-list,
.social {
  background-color: #ffffff;
}

.social-list__item,
.social-list__twitter,
.social-list__facebook,
.social-list__youtube {
  background-color: $base-color;
}
